<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PAVII" connectionString="Data Source=NOT-000034\NOTLASA;Initial Catalog=PAVII;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PAVUTN" connectionString="Data Source=maquis;Initial Catalog=PAV;Persist Security Info=True;User ID=gda;Password=gda"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TD_1" value="DNI" />
    <add key="TD_2" value="LC" />
    <add key="TD_3" value="Pasaporte" />
    <add key="TD_4" value="LE" />
    <add key="TD_5" value="Pass USA" />
    <add key="CUIT" value="30-30303030-3" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="1" />
    <trace enabled="false" pageOutput="false" localOnly="true"/>
  </system.web>
</configuration>