USE [Muebles]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

BEGIN
ALTER TABLE [dbo].[Clientes]	
ALTER COLUMN [nombres] [varchar](50) NOT NULL

ALTER TABLE [dbo].[Clientes]	
ALTER COLUMN [apellidos] [varchar](50) NOT NULL	

END
GO
SET ANSI_PADDING OFF
GO